@inject tl2_proyecto_2024_nachoNota.Services.IAuthenticationService AuthService


<aside class="border-end vh-100 p-3 bg-dark" style="width: 275px;">
    <h5 class="text-center text-light">Opciones de Usuario</h5>
    <ul class="nav flex-column mt-4">
        <li class="nav-item">
            <a asp-action="Modificar" asp-controller="Usuario" asp-route-idUsuario="@Context.Session.GetInt32("IdUser")" class="nav-link text-light">
                <i class="bi bi-pencil-square me-2"></i> Modificar Usuario
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="EliminarPropio" asp-controller="Usuario" asp-route-idUsuario="@Context.Session.GetInt32("IdUser")" class="nav-link text-light">
                <i class="bi bi-trash me-2"></i> Eliminar Usuario
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="CambiarContra" asp-controller="Usuario" asp-route-idUsuario="@Context.Session.GetInt32("IdUser")" class="nav-link text-light">
                <i class="bi bi-key me-2"></i> Cambiar Contraseña
            </a>
        </li>
       @if(AuthService.GetAccessLevel() == RolUsuario.Admin){
            <li class="nav-item">
                <a asp-action="Crear" asp-controller="Usuario" class="nav-link text-light">
                    <i class="bi bi-person-add me-2"></i> Crear nuevo usuario
                </a>
            </li>

            <li class="nav-item">
                <a asp-action="Editar" asp-controller="Usuario" class="nav-link text-light">
                    <i class="bi bi-arrow-repeat me-2"></i> Editar usuarios
                </a>
            </li>
        }
    </ul>
</aside>