@model tl2_proyecto_2024_nachoNota.ViewModels.BuscarViewModel

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filtrar usuarios</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Buscar" asp-controller="Usuario" class="d-flex" role="search">
                    <input asp-for="Usuario" class="form-control me-2" type="search" placeholder="Busca por nombre de usuario" aria-label="Search">
                    <input type="hidden" asp-route-idTablero="@Model.IdTablero"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
                @if(Model.Usuarios.Count > 0){
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                    </div>
                }

            </div>


        </div>
    </div>
</div>