@model tl2_proyecto_2024_nachoNota.ViewModels.TableroVM.EliminarTableroViewModel

<div class="modal fade" id="modalEliminar-@Model.IdTablero" tabindex="-1" aria-labelledby="modalEliminarLabel-@Model.IdTablero" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel-@Model.IdTablero">¿Eliminar tablero?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                Esta acción eliminará el tablero junto a sus tablas y tareas correspondientes de forma permanente, ¡y eso es 
                mucho tiempo!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" asp-action="Eliminar">
                    <input type="hidden" asp-for="IdTablero" />
                    <input type="hidden" asp-for="IdUsuario" />
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
