@model tl2_proyecto_2024_nachoNota.ViewModels.TableroVM.ModificarTableroViewModel

<div class="offcanvas offcanvas-end bg-body-secondary" tabindex="-1" id="offcanvasRight-@Model.Id" aria-labelledby="offcanvasRightLabel-@Model.Id">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel-@Model.Id">Actualizar tablero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    <form asp-action="Modificar" method="post">
        <input type="hidden" asp-for="IdUsuario"/>
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Titulo" class="form-label"></label>
            <input asp-for="Titulo" class="form-control border border-secondary-subtle" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Color" class="form-label"></label>
            <input asp-for="Color" type="color" class="form-control form-control-color border border-secondary-subtle" />
        </div>
        <div class="mb-3">
            <label asp-for="Descripcion" class="form-label"></label>
            <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>


    </div>
</div>