@model List<tl2_proyecto_2024_nachoNota.ViewModels.UsuarioBuscadoViewModel>

<div class="container py-3">
    <div class="w-50">

        <h2>Buscar Por Usuario</h2>
        <p class="text-muted mb-4">
            Debido a la gran cantidad de tableros, primero te mostramos un buscador.
            Así, puedes filtrar por usuario y evitar que la pantalla se llene con demasiados tableros.
        </p>

        <form asp-action="BuscarUsu" class="d-flex mb-2" role="search" style="max-width:30rem">
            <input class="form-control me-2" type="search" name="nombreUsuario" placeholder="Busca por nombre de usuario" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            @if (Model.Count > 0)
            {
                @foreach (var usuario in Model)
                {
                    <a type="button" asp-action="ListarBuscados" asp-route-idUsuario="@usuario.Id" class="btn btn-outline-primary">
                        @usuario.Nombre
                    </a>
                }
            }
        </div>

    </div>
</div>
