@model tl2_proyecto_2024_nachoNota.ViewModels.RecuperarPassViewModel

<section class="d-flex justify-content-center my-4">
	<div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
		<h3 class="text-center mb-4">Recuperar contraseña</h3>

		<form method="post" asp-action="RecuperarPassword">
			<div class="mb-3">
				<label asp-for="Email" class="form-label">Email</label>
				<input type="text" class="form-control" asp-for="Email" aria-describedby="emailHelp">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Subject" class="form-label">Titulo</label>
				<input type="text" class="form-control" asp-for="Subject">
				<span asp-validation-for="Subject" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Body" class="form-label text-light">Cuerpo</label>
				<textarea asp-for="Body" class="form-control" rows="3"></textarea>
			</div>

			<button type="submit" class="btn btn-primary w-100 mover mover-hover4">Recuperar</button>
		</form>
	</div>
</section>