@model tl2_proyecto_2024_nachoNota.ViewModels.PasswordResetViewModel

<section class="d-flex justify-content-center my-4">
	<div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
		<h3 class="text-center">Cambiar contraseña</h3>
		<p class="text-center text-muted mb-4">Restablece tu contraseña para recuperar el acceso a tu cuenta.</p>

		<form method="post" asp-action="ResetPassword">

			<input type="hidden" asp-for="Token"/>

			<div class="mb-4 position-relative">
				<label asp-for="PasswordNueva" class="form-label">Nueva contraseña</label>
				<div class="input-group">
					<input type="password" class="form-control" asp-for="PasswordNueva" id="passwordActual">
					<button class="btn btn-outline-primary" type="button" id="togglePasswordActual">
						<i class="bi bi-eye" id="eyeIconActual"></i>
					</button>
				</div>
				<span asp-validation-for="PasswordNueva" class="text-danger"></span>
			</div>


			<div class="mb-3 position-relative">
				<label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña</label>
				<div class="input-group">
					<input type="password" class="form-control" asp-for="ConfirmPassword" id="passwordNueva">
					<button class="btn btn-outline-primary" type="button" id="ConfirmPassword">
						<i class="bi bi-eye" id="eyeIconNueva"></i>
					</button>
				</div>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			
			@if (!string.IsNullOrEmpty(Model.ErrorMessage))
			{
				<p class="text-danger">@Model.ErrorMessage</p>
			}

			<button type="submit" class="btn btn-primary w-100 mover mover-hover4">Confirmar</button>
		</form>
	</div>
</section>

@if (TempData["Mensaje"] != null)
{
	<div class="toast-container position-fixed top-0 end-0 p-3">
		<div class="toast show align-items-center text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body">
					@TempData["Mensaje"]
				</div>
				<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>
}