@model tl2_proyecto_2024_nachoNota.ViewModels.CrearTareaViewModel


<div class="container mt-4">
	<h2>Crear Tarea</h2>
	<p class="text-muted mb-4">
		Por favor, complete los campos a continuación para registrar un nuevo usuario y
		asignarle un rol dentro del sistema.
	</p>

	<form method="post" asp-action="Crear">
		<input asp-for="IdUsuario" type="hidden" value="@Context.Session.GetInt32("IdUser")"/>
		<input asp-for="IdTablero" type="hidden"/>

		<div class="mb-3">
			<label asp-for="Titulo" class="form-label"></label>
			<input asp-for="Titulo" class="form-control border border-secondary-subtle" />
			<span asp-validation-for="Titulo" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Color" class="form-label"></label>
			<input asp-for="Color" value="#ffffff" type="color" class="form-control form-control-color border border-secondary-subtle" />
		</div>

		<div class="mb-3">
			<label asp-for="Descripcion" class="form-label"></label>
			<textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
		</div>

		<button type="submit" class="btn btn-info mover mover-hover4 mt-3">Crear Tarea</button>
	</form>
</div>