@model tl2_proyecto_2024_nachoNota.ViewModels.TareaVM.ModificarTareaViewModel


<div class="container-md py-4">
    <h2 class="mb-3 borde-letras">Editar Tarea</h2>

    <form asp-action="Modificar" method="post" class="card shadow-sm" style="max-width:30rem;">
        <input type="hidden" asp-for="@Model.Id"/>
        <div class="card-body d-flex flex-column gap-3">

            <div class="mb-2">
			    <label asp-for="Titulo" class="form-label"></label>
			    <input type="text" class="form-control" asp-for="Titulo">
			    <span asp-validation-for="Titulo" class="text-danger"></span>
		    </div>

            <div class="mb-2">
                <label asp-for="Descripcion" class="form-label">Descripcion(opcional)</label>
                <textarea asp-for="Descripcion" id="Descripcion" name="Descripcion" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="Color" class="form-label">Color</label>
                <input type="color" asp-for="Color" id="Color" name="Color" class="form-control form-control-color">
            </div>


            <div class="d-flex justify-content-between">
                <a asp-action="VerDetalles" asp-route-idTarea="@Model.Id" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Guardar cambios
                </button>
            </div>
        </div>
    </form>
</div>
