@{
    ViewData["Title"] = "Error de rol";
}
<div class="container">
    <img src="~/gif/burbuja-de-dialogo.gif" alt="Descripción del GIF" width="200" height="200">
    <h2 class="mb-2 text-danger">Nada que ver acá!</h2>

    <p><strong>Lo sentimos, </strong> no tienes los permisos necesarios para poder visualizar el contenido de la página solicitada...</p>
</div>