@{
    ViewData["Title"] = "Error inesperado";
}
<div class="container">
    <img src="~/gif/advertencia.gif" alt="Descripción del GIF" width="200" height="200">
    <h2 class="mb-2 text-danger">Error inesperado</h2>

    <p><strong>Lo sentimos, </strong> @ViewData["Mensaje"]</p>
</div>