
@{
    ViewData["Title"] = "No Encontrado";
}
<div class="container">
    <img src="~/gif/404.gif" alt="Descripción del GIF" width="200" height="200">
    <h2 class="mb-2 text-danger">Recurso No Encontrado</h2>

    <p><strong>Lo sentimos, </strong> @ViewData["Mensaje"]</p>
</div>