html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


footer {
    background-color: #222; /* Color de fondo opcional */
    color: white; /* Color del texto */
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card-img-top{
    -webkit-user-drag: none;
}

.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mover-hover4:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.mover-hover8:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.borde-letras {
    color: #212529; /* Color del texto */
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* Sombra en todas las direcciones para simular un borde */
}

.cursor{
    cursor:pointer;
}

.dashed{
    border-style:dashed;
    border-color: black;
}

.btn-outline-light-secondary {
    border-color: #7e8b98; /* Color más oscuro para el borde */
    color: #495057; /* Texto más oscuro */
}

.btn-outline-light-secondary:hover {
    background-color: #e9ecef; /* Fondo más claro al hacer hover */
    border-color: #495057; /* Borde más oscuro al hacer hover */
}

.navbar-brand {
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.05);
}