@model tl2_proyecto_2024_nachoNota.ViewModels.UsuarioVM.CrearUsuarioViewModel

<div class="container-fluid">
	<div class="row">
		<!-- Aside -->
		<div class="col-md-3">
			@await Html.PartialAsync("_Aside")
		</div>

		<!-- Contenido principal -->
		<div class="col-md-9 p-4" style="max-width:30rem">
			<h2>Crear cuenta</h2>
			<p class="text-muted mb-4">Por favor, complete los campos a continuación para registrar un nuevo usuario y
				asignarle un rol dentro del sistema.</p>

			<form method="post" asp-action="Crear">
				<div class="mb-3">
					<label asp-for="Email" class="form-label">Email</label>
					<input type="text" class="form-control" asp-for="Email" aria-describedby="emailHelp">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="NombreUsuario" class="form-label">Usuario</label>
					<input type="text" class="form-control" asp-for="NombreUsuario">
					<span asp-validation-for="NombreUsuario" class="text-danger"></span>
				</div>

				<div class="mb-3 position-relative">
					<label asp-for="Contrasenia" class="form-label">Contraseña</label>
					<div class="input-group">
						<input type="password" class="form-control" asp-for="Contrasenia" id="passwordInput">
						<button class="btn btn-outline-primary" type="button" id="togglePassword">
							<i class="bi bi-eye" id="eyeIcon"></i>
						</button>
					</div>
					<span asp-validation-for="Contrasenia" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Rol" class="form-label">Seleccionar Rol</label>
					<select asp-for="Rol" class="form-select" style="width:75%">
						@foreach(RolUsuario rol in Enum.GetValues(typeof(RolUsuario))){
							<option value="@rol">@rol.ToString()</option>
						}
					</select>
					<span class="text-danger" asp-validation-for="Rol"></span>
				</div>

				<button type="submit" class="btn btn-info mover mover-hover4 mt-3">Crear cuenta</button>
			</form>
		</div>
	</div>
</div>

@if (TempData["Mensaje"] != null)
{
	<div class="toast-container position-fixed top-0 end-0 p-3">
		<div class="toast show bg-success" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<strong class="me-auto">Éxito</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body text-light">
				@TempData["Mensaje"]
			</div>
		</div>
	</div>
}