@model tl2_proyecto_2024_nachoNota.ViewModels.UsuarioVM.ConfirmarEliminarUsuarioViewModel

<div class="modal fade" id="modalEliminar-@Model.IdUsuario" tabindex="-1" aria-labelledby="modalEliminarLabel-@Model.IdUsuario" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel-@Model.IdUsuario">¿Eliminar a "@Model.NombreUsuario"?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                Esta acción eliminará al usuario seleccionado de forma permanente, ¡y eso es mucho tiempo!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a asp-action="EliminarParaAdmin" asp-route-idUsuario="@Model.IdUsuario" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
